.btn-change-status {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn-duyet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}