#po-list {
    .po-list-header {
        margin-bottom: 30px;

        .po-list-title {
            display: inline;
        }
    
        .btn-change-status {
            float: right
        }
    }
    
    .po-list-footer {
        margin-top: 30px;

        .pagination {
            float: right;
        }
    }
}