.content-login {

  background: #fff;
  width: 400px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  .login-form {
    max-width: 300px;
  }
  
  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }  
}
