.page-list {
    .page-list-header {
        margin-bottom: 15px;

        .page-list-title {
            margin-bottom: 15px;
            font-size: 30px;
        }
    
        .btn-change-status {
            float: right
        }
    }
    
    .page-list-footer {
        margin-top: 30px;

        .pagination {
            float: right;
        }
    }
}
